{% extends "base.html" %}
{% block content %}
<h2>Recent Packets (Top 50)</h2>
<table border="1">
<tr>
 <th>ID</th><th>Time</th><th>Src IP</th><th>Dst IP</th>
 <th>Protocol</th><th>PktLength</th><th>Label</th><th>is_abnormal</th>
</tr>
{% for log in logs %}
<tr>
<td>{{ log.id }}</td>
<td>{{ log.timestamp }}</td>
<td>{{ log.src_ip }}</td>
<td>{{ log.dst_ip }}</td>
<td>{{ log.protocol }}</td>
<td>{{ log.packet_length }}</td>
<td>{{ log.label }}</td>
<td>{{ log.is_abnormal }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
